<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Css/style.css">
    <title>Socket Chat</title>
</head>
<body id="body">

    <div class="container">
        <div class="identification">
            <h1>Socket Chat</h1>
            <form action="" id="formName">
                <input type="text" id="name" placeholder="Nombre">
                <button id="btn">Ingresar</button>
            </form>
        </div>
        <div class="chat">
            <ul id="mensajes"></ul>

            <form action="" id="form">
                <input type="text" id="input" autocomplete="off">
                <button id="btn">enviar</button>
            </form>
        </div>
        
        
    </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="./Js/main.js"></script>
        
    </ul>
</body>
</html>